# Données volumineuses
data/*.ttl
data/*.ttl.bz2
data/*.parquet


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# GCP
.gcloud/
*.json
!requirements.txt

# Résultats temporaires
results/rdd_*
results/df_*
results/*_results/

#gcloud exec
exec -l/